<footer id="contact" class="bg-black text-white">
  <div class="container mx-auto px-5 py-12">
    <!-- Footer Content -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
      <!-- About Us -->
      <div>
        <h3 class="text-yellow-400 text-xl font-bold mb-4 relative pb-2 after:absolute after:bottom-0 after:left-0 after:w-10 after:h-0.5 after:bg-yellow-400">
          {{ footer.aboutUs.title }}
        </h3>
        <p class="mb-3"> {{footer.aboutUs.description }} </p>
      </div>

      <!-- Our Services -->
      <div>
        <h3 class="text-yellow-400 text-xl font-bold mb-4 relative pb-2 after:absolute after:bottom-0 after:left-0 after:w-10 after:h-0.5 after:bg-yellow-400">
          {{ footer.services.title }}
        </h3>
        <ul class="space-y-2">
          {% for service in footer.services.items %}
            <li><a href="{{footer.services.urlPath}}" class="text-gray-400 hover:text-yellow-400 transition">{{ service }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <!-- Contact Information -->
      <div>
        <h3 class="text-yellow-400 text-xl font-bold relative pb-2 after:absolute after:bottom-0 after:left-0 after:w-10 after:h-0.5 after:bg-yellow-400">
          {{ footer.contactInfo.title }}
        </h3>
        <p class="mb-2"><strong>Phone:</strong> {{ footer.contactInfo.phone }}</p>
        <p class="mb-2"><strong>Email:</strong> {{ footer.contactInfo.email }}</p>
        <p><strong>Address:</strong> {{ footer.contactInfo.address }}</p>
      </div>
    </div>

  </div>
    <div class="border-t border-gray-600 py-4 text-center text-gray-500">
      &copy; {{ page.date | date("yyyy") }} Your Site. All rights reserved.
    </div>
</footer>
