{% macro pageHeader(data) %}
<section
  class="bg-[url('{{ data.backgroundImage }}')] bg-cover bg-center py-8 md:py-20"
>
  <div class="max-w-7xl mx-auto px-4 text-center">
    <h1 class="text-4xl font-bold mb-4">{{ data.title }}</h1>
    <p class="text-lg">{{ data.subtitle }}</p>
  </div>
</section>
{% endmacro %}
