<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title or homepage.meta.title }}</title>
  <meta name="description" content="{{ description or homepage.meta.description }}">

  <link rel="icon" href="{{ '/images/favicon.ico' | url }}" sizes="any">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon-16.png' | url }}">
  <link rel="apple-touch-icon" href="{{ '/images/apple-touch-icon.png' | url }}">


  <link href="{{'/styles/style.css' | url }}" rel="stylesheet" />
  <script src="{{'/scripts/main.js' | url}}"></script>

</head>
<body class="bg-gray-100 text-gray-900">
  {% include "components/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "components/footer.njk" %}
</body>
</html>
